/* PostsList.css */
.logo{
    width: 30%;
}

.list-group-item {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.125);
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color: #f8f9fa;  /* A light grey */
}

.post-title {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

.post-title:hover {
    color: #0056b3;
}
